/*__reset styles__*/
html {
  box-sizing: border-box;
  line-height: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*__VARIALES__*/
:root {
  --title-fon: #ffffff;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --hero-fon: #2f303a;
  --main-section: #f5f4fa;
  --logo-fon: #000000;
  --text-fon: rgba(33, 150, 243, 1);
  --text-fon-black: rgba(0, 0, 0, 1);
  --footer-color: rgba(255, 255, 255, 0.6);
  --portfolio-bg-color: rgba(238, 238, 238, 1);
  --sections-bg-color: #e5e5e5;
  --portfolio-button-fon: rgba(245, 244, 250, 1);
  --line: #ececec;
  --icons-color: #afb1b8;
  --icons-bg-color: rgba(255, 255, 255, 0.1);
}
/*__BODY__*/

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--title-fon);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin: auto;
  margin-top: 0;
  margin-bottom: auto;
}

ul {
  list-style: none;
}

/*__HEADER__*/

.header {
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  border-bottom: 1px solid #ececec;
  background-color: var(--title-fon);
  /*__outline: 5px solid turquoise;
  display: flexbox;__*/
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/*__HEADER LOGO__*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--text-fon-black);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-first-letters {
  color: var(--text-fon);
}

/*__HEADER NAVIGATION__*/

.navigation-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  margin-left: 93px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  list-style: none;
}

.navigation-menu :last-child {
  margin-right: o;
}

.navigation-menu-item {
  /*__margin: 0 21px;__*/
  margin-left: 50px;
  display: block;
}

.navigation-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation-menu-link:hover {
  color: var(--accent-color);
}

.navigation-contacts {
  display: flex;

  margin-left: auto;
}

.navigation-contacts-item {
  margin-left: 50px;
}

.navigation-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  background-color: var(--title-fon);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-contacts-link:hover,
.navigation-contacts-link:focus {
  color: var(--accent-color);
}

.icon:hover,
.icon:focus {
  fill: var(--accent-color);
}

.icon1:hover,
.icon1:focus {
  fill: var(--accent-color);
}

/*__header_icons__*/

.icons {
  content: "";
  fill: var(--icons-color);
  width: 270px;
  height: 120px;
  background-position: center;
  background: var(--main-section);
  padding: 25px 100px;
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

.icon1 {
  margin-right: 10px;
  fill: currentColor;
}

/*__MAIN__*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-header-item {
  max-width: 1600px;
  height: 600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;

  letter-spacing: 0.06em;

  background-color: var(--hero-fon);

  margin: 0 auto;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.section-item-text {
  max-width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-fon);
}

.position {
  margin-bottom: 30px;
}

/*__BUTTON__*/

.section-button_blue {
  margin: 0;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-fon);
  border: 1px solid transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button_blue {
  border-radius: 4px;
  padding: 10px 32px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-fon);
}

/*__SECTION ONE__*/

.section-header-container {
  padding: 0 15px;
  margin: 0 auto;
  min-height: 80px;
}

.container-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  text-align: initial;
}

.section-list-item {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  margin-top: 30px;
}

.our-team-list-item {
  width: 270px;

  margin-bottom: 30px;
}

.item-icons {
  margin-left: 0;
  margin-right: 30px;
}

.list-icons {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*__SECTION TWO__*/

.portfolio {
  padding-top: 0;
  padding-bottom: 94px;
  margin: 0 auto;
  min-height: 80px;
}

.section-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.foto-works {
  margin-top: 50px;
}

.our-team-list {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.8;

  margin-right: 30px;

  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-fon);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.action {
  display: flex;
}

.our-team-item {
  margin-left: auto;
  margin-right: 30px;
}

.our-team-image {
  width: 370px;
  height: 294px;
}

/*__SECTION THREE__*/

.our-team {
  background: var(--main-section);
}

.container-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}

.our-team-item-image {
  width: 270px;
  height: 260px;
}

.our-team-item-titles {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.container-main-portfolio1 {
  background-color: var(--title-fon);
}

/*__social-icons__*/

.social-networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-icon-networks {
  margin-left: 10px;
}

.icon-networks {
  fill: var(--icons-color);
  width: 20px;
  height: 20px;
}

.networks-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  background-color: var(--title-fon);
  border: 4px solid transparent;
}

.networks-icons:hover,
.networks-icons:focus {
  background-color: var(--accent-color);
  border: 4px solid transparent;
  border-radius: 50%;
}

.networks-icons:hover .icon-networks,
.networks-icons:focus .icon-networks {
  fill: var(--title-fon);
}

/*__clients-company__*/

.clients-company-list:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1bb;
  border-radius: 4px;
  display: flex;
}

.icons-company {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  fill: var(--icons-color);
}

.icons-company:hover,
.icons-company:focus {
  fill: var(--accent-color);
}

.clients-icon:hover,
.clients-icon:focus {
  border: 1px solid #2196f3;
}

/*__FOOTER__*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(47, 48, 58, 1);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--main-section);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 20px;
}

.logo-first-letters {
  color: var(--accent-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  margin-top: 20px;
}

.container-footer-contacts {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.container-footer-contacts-item {
  width: 231px;
  height: 21px;
  color: var(--main-section);
  text-decoration: none;

  margin-bottom: 9px;
}

.footer-contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-fon);
  text-decoration: none;
}

.footer-contacts-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-color);
  text-decoration: none;
}

.footer-contacts-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-color);
  text-decoration: none;
}

/*__footer__socials__*/

.link-icon {
  display: flex;
}

.footer-socials {
  margin-left: 70px;
}

.footer-name-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-fon);
  margin-bottom: 20px;
  padding-top: 10px;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-socials-link:not(last:last-child) {
  margin-left: 10px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  background-color: var(--icons-bg-color);
  border: 4px solid transparent;
  border-radius: 50%;
}

.icons-link {
  fill: var(--title-fon);
  width: 20px;
  height: 20px;
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  border: 4px solid transparent;
  border-radius: 50%;
}

/*__Portfolio__*/

.section-button_blue1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--main-section);
  border-radius: 4px;
}

.section-button_blue1:hover,
.section-button_blue1:focus {
  color: var(--title-fon);
  cursor: pointer;
  fill: var(--title-fon);
  background-color: var(--accent-color);
  border: 4px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--main-section);
}

.menu-name {
  padding: 20px 24px;
}

.item-text1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.item-link1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-top: 4px;
}

.text1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.item-portfolio1 {
  width: 370px;
  height: 294px;
}

.item-img-link1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}

/*__BUTTON PORTFOLIO__*/

.once {
  text-align: center;
}

.nav-menu-portfolio {
  margin: 0;
  display: inline-block;
  padding-top: 0;

  padding-right: 8px;
}

.section-button_blue1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--title-fon);
  border-radius: 4px;
  border-color: transparent;

  display: flex;
  padding: 6px 22px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--title-fon);
  border-radius: 4px;
}

.white {
  background: var(--main-section);
}

.text-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.container-item-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 94px;
  gap: 30px;
}

.item-images-portfolio {
  width: 370px;
  display: flexbox;

  border: 1px solid #eeeeee;

  margin-left: 0;
}

.item-images-portfolio:hover,
.item-images-portfolio:focus {
  /*__box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6),
    1px 4px 6px rgba(0, 0, 0, 0.16);__*/
}

.item-images-portfolio:nth-child(3n) {
  margin-right: 0;
}

.item-images-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.img-portfolio {
  display: block;
  width: 100%;
}
