/*__VARIALES__*/
:root {
  --main-color: #2196f3;
  --main-color-light: #d2e1ff;
  --main-color-dark: black;
  --text-color-dark: #697ca6;
  --secont-color: #d43f3f;
  --second-color-light: #3a79ff;
  --text-color-normal: #adb3cb;
}

/*__HEADER__*/

.header {
  padding: 18px 117px;
  border-bottom: 2px solid gray;
}

/*__LOGO__*/

.logo {
  display: inline-block;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  color: #212121;
}

.logo-first-letters {
  color: #2196f3;
}

/*__NAVIGATION__*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-nav {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  margin-left: 52px;
}

.navigation-menu-item {
  margin: 0 21px;
}

.navigation-menu-link {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #212121;
  transition: 0.4s;
}

.navigation-menu-link:hover {
  color: #5e81fe;
}

.navigation-contacts {
  display: flex;
}

.navigation-contacts-item {
  margin: 0 14px;
}

.navigation-contacts-link {
  color: #757575;
}

/*__MAIN__*/

.conteiner-main {
  margin-left: auto;
  margin-right: 27px;
  background-color: #2f303a;
}

.section-header-item {
  margin-left: flex;
  margin-right: 27px;
  background-color: #2f303a;
}

.section-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section-button_blue {
  margin-left: 1150px;
  margin-right: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: #2196f3;
}

.button_blue {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 25px;
  color: #2196f3;
}

.section-header-item .button_blue {
  color: #2196f3;
}

.section-item {
  padding: 171px 15px;
}

.section-conteiner {
  display: flex;
  justify-content: center;
  margin-top: 92px;
}

.conteiner-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-dark);
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.8;
  color: var(--main-color);
  margin-bottom: 25px;
}

.portfolio {
  margin-left: auto;
  margin-right: 27px;
}

.section-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.our-team-list {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 25px;
}

.our-team-item {
  margin-left: auto;
  margin-right: 27px;
}

.our-team-item-image {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images/img.png") center/cover no-repeat;
}

.our-team {
  margin-left: auto;
  margin-right: 27px;
}

.container {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

/*__FOOTER__*/

.footer {
  padding: 93px 117px;
}
