/*__VARIALES__*/
:root {
  --title-fon: #ffffff;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --hero-fon: #2f303a;
  --main-section: #f5f4fa;
  --logo-fon: #000000;
  --text-fon: rgba(33, 150, 243, 1);
  --text-fon-black: rgba(0, 0, 0, 1);
  --footer-color: rgba(255, 255, 255, 0.6);
}
/*__BODY__*/

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--title-fon);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

/*__HEADER__*/

.header {
  background-color: var(--title-fon);
}

/*__LOGO__*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--text-fon-black);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03 em;
  text-decoration: none;
}

.logo-first-letters {
  color: var(--text-fon);
}

/*__NAVIGATION__*/

.navigation-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.navigation-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation-menu-link:hover {
  color: var(--accent-color);
}

.navigation-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.navigation-contacts-link:hover {
  color: var(--accent-color);
}

/*__MAIN__*/

.conteiner-main {
  background-color: var(--main-section);
}

.section-header-item {
  background-color: var(--hero-fon);
}

.section-item-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-fon);
}

.section-button_blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button_blue {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-fon);
}

/*__.section-conteiner {
  width: 1230px;
}__*/

.container-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.8;
}

.container {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.container-main-portfolio1 {
  background-color: var(--title-fon);
}

.section-main-item-portfolio1 {
}

/*__St.portfolio__*/

/*__.navigation {
  width: 1200px;
}__*/

.container-main-portfolio1 {
  background-color: var(--main-section);
}

/*__.container-item-portfolio {
  width: 1230px;
}__*/

/*__.item-portfolio1 {
  width: 380px;
}__*/

/*__FOOTER__*/
.footer {
  background-color: rgba(47, 48, 58, 1);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--main-section);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-first-letters {
  color: var(--accent-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.container-footer-contacts {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.container-footer-contacts-item {
  color: var(--main-section);
  text-decoration: none;
}

.footer-contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-fon);
  text-decoration: none;
}

.footer-contacts-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-color);
  text-decoration: none;
}

.footer-contacts-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-color);
  text-decoration: none;
}

/*__Portfolio__*/

.section-button_blue1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border-radius: 4px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--main-section);
}

.item-text1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.item-link1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.text1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.item-img-link1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}
