@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/reset";
@import "./base/container";

@import "./components/logo";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";
@import "./components/modal-btn";
@import "./components/overlay";
@import "./components/socials-networks";
@import "./components/footer-logo";
@import "./components/footer-socials";
@import "./components/footer-email";
@import "./components/button-set";
@import "./components/projects-portfolio";

@import "./layout/header";
@import "./layout/section-main";
@import "./layout/section-one";
@import "./layout/section-work";
@import "./layout/section-our-team";
@import "./layout/clients-company";
@import "./layout/footer";
@import "./layout/main-portfolio";
