.clients-company:not(:last-child) {
  margin-right: 30px;
}

.clients-company__net {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1bb;
  border-radius: 4px;
  display: flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    fill: var(--accent-color);
  }
}

.clients-company__icon {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  fill: var(--icons-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.clients-company__net:hover .clients-company__icon,
.clients-company__net:focus .clients-company__icon {
  fill: var(--accent-color);
}
