.section-main__container {
  padding: 0 15px;
  margin: 0 auto;
  min-height: 80px;
}

.item-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-bottom: 10px;
}

.item-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  text-align: initial;
}

.item-list__item {
  width: 270px;

  margin-bottom: 30px;
}

.item-list__icon {
  content: "";
  fill: var(--icons-color);
  width: 270px;
  height: 120px;
  background-position: center;
  background: var(--main-section);
  padding: 25px 100px;
}

@media screen and (max-width: 767px) {
  .item-list__item {
    width: 450px;
  }

  .item-list__icon {
    width: 450px;
    margin-bottom: 30px;
  }

  .item-list__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-list {
    display: flex;
    flex-wrap: wrap;
  }

  .item-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .item-list__item:not(:nth-last-child(2n + 1)) {
    margin-right: 30px;
  }

  .item-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .item-list__icon {
    width: 354px;
    height: 120px;

    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-item__list {
    display: flex;
    justify-content: space-between;
  }

  .item-list {
    display: flex;
  }

  .item-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }

  .item-list__item:not(:last-child) {
    margin-right: 30px;
  }

  .item-list__icon {
    margin-bottom: 30px;
  }
}
