.section-work {
  padding-top: 0;
  padding-bottom: 94px;
  margin: 0 auto;
  min-height: 80px;

  &__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.work-list {
  margin-top: 50px;
}

.team {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.8;

  margin-right: 30px;

  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-fon);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.action {
  display: flex;
}

.work-list__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.work-list__image {
  width: 370px;
  height: 294px;
}
