.button-set {
  text-align: center;

  &__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--main-section);
    border-radius: 4px;
    cursor: pointer;
  }

  &__btn:hover,
  &__btn:focus {
    color: var(--title-fon);

    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--main-section);
}

.button-set_list {
  margin: 0;
  display: inline-block;
  padding-top: 0;

  padding-right: 8px;
}

.button-set__btn {
  position: static;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--title-fon);
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  display: flex;
  padding: 6px 22px;
  background: var(--main-section);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--title-fon);
  border-radius: 4px;
}

//.white {
// background: var(--main-section);

//&:hover {
// box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
//  0px 2px 2px rgba(0, 0, 0, 0.12);
//}
//}
