.page-header__logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--text-fon-black);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-header__logo-first-letters {
  color: var(--text-fon);
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    font-size: 24px;
    line-height: 1.16;

    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
