@media screen and (max-width: 767px) {
  .section-work {
    display: none;
  }

  .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--title-fon);
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;

    &__container {
      position: relative;

      padding-top: 48px;
      padding-bottom: 48px;

      display: flex;
      flex-direction: column;
    }
  }

  .page-header {
    border: 1px solid #ececec;
  }

  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-hidden {
    display: none;
  }

  .menu-mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu-button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-button__close {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    top: 21px;
    right: 25.33px;
    left: 436px;
    bottom: 756.33px;
  }

  .menu-mobile__nav {
    margin-top: 48px;
    margin-bottom: 302px;
  }

  .menu-mobile__item {
    margin-right: 221px;
    margin-bottom: 32px;
  }

  .menu-mobile__item-link {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 00.02em;
    text-decoration: none;
    margin-bottom: 32px;

    color: var(--primary-text-color);
  }

  .hover {
    color: var(--accent-color);
  }

  .menu-mobile__contacts {
    margin-bottom: 64px;
  }

  .menu-mobile__contacts-item {
    margin-bottom: 32px;
  }

  .menu-mobile__contacts-tel {
    position: relative;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--accent-color);
  }

  .menu-mobile__contacts-mail {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--title-text-color);
  }

  .menu-mobile__socials {
    display: flex;
    flex-wrap: wrap;

    &-link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: var(--accent-color);
      text-decoration: none;
    }
  }
  .menu-mobile__socials-item:not(:last-child)
    .menu-mobile__socials-link::after {
    content: "";
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-mobile {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .section-work {
    display: none;
  }

  .page-header {
    font-family: "Releway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    border-bottom: 1px solid #ececec;
    background-color: var(--title-fon);

    padding-top: 26px;
    padding-bottom: 26px;
  }

  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-right: 88px;
  }

  .page-header__nav {
    display: flex;
    align-items: center;
  }

  .navigation-menu {
    display: flex;
    align-items: center;
  }

  .navigation-menu__item:not(:last-child) {
    margin-right: 51px;
  }

  .navigation-menu__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
    //position: relative;
    fill: var(--icons-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .page-studio {
    color: var(--accent-color);
  }

  .page-portfolio {
    color: var(--accent-color);
  }

  .navigation-menu__link::after {
    content: "";
    //position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity;
    transform: translateY(calc(24px + 8px));
  }

  .navigation-menu__link:hover::after,
  .navigation-menu__link:focus::after {
    opacity: 1;
  }

  .page-studio::after,
  .page-studio:hover::after {
    opacity: 1;
  }

  .page-portfolio::after,
  .page-portfolio:hover::after {
    opacity: 1;
  }

  .navigation-menu.space {
    color: var(--accent-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
    position: relative;
    fill: var(--icons-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation-menu.space {
    color: var(--accent-color);
  }

  .navigation-contacts {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 15px;
    margin-left: 90px;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .navigation-menu__item:first-child {
    margin-left: 0px;
  }

  .navigation-contacts__link {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    background-color: var(--title-fon);
    text-decoration: none;

    text-align: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;

    fill: var(--icons-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation-contacts__link:hover::after,
  .navigation-contacts__link:focus::after {
    opacity: 1;
  }

  .navigation-contacts.space {
    color: var(--accent-color);
  }

  .navigation-contacts__icon-email {
    margin-right: 10px;
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .navigation-contacts__icon-tell {
    margin-right: 10px;
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .navigation-contacts__icon-tell {
    margin-right: 10px;
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}
