.menu-list {
  padding: 20px 24px;
  position: relative;
  background-color: var(--title-fon);
  border: 1px solid #eeeeee;
  z-index: 2;
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.portfolio-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-top: 4px;
}

.text1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.item-portfolio1 {
  width: 370px;
  height: 294px;
}

.projects-portfolio__net {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
  border-top: 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background;
}

.container-projects {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.projects-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 94px;
  gap: 30px;
}
.projects-portfolio__cards {
  width: 370px;
  display: flexbox;

  margin-left: 0;
}

.projects-portfolio__cards:hover,
.projects-portfolio__cards:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-portfolio__cards:nth-child(3n) {
  margin-right: 0;
}

.projects-portfolio__cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-portfolio__img {
  display: block;
  width: 100%;
}

/*__OVERLAY1__*/

.box1 {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.box1:hover .overlay-portfolio {
  transform: translateY(0);
}

.overlay-portfolio {
  position: absolute;
  bottom: 109px;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) transform;
}

.overlay-portfolio__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--title-fon);
}
